.element__like-number {
    display: block;
    top: 5px;
    width: 10px;
    height: 13px;
    color: #000;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-left: 5px;
  }