.profile__button-edit{
    background-image: url(../../../image/Vector__edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    padding: 0;
    display: flex;
    align-self: center;
    justify-content: center;
}

.profile__button-edit:hover{
    opacity: .6;
}

@media screen and (min-width: 768px) {
    .profile__button-edit{
        background-size: 10px;
        width: 24px;
        height: 24px;
    } 
}