/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
   url(../../vendor/fonts/Inter-Regular.woff2) format('woff2'),
   url(../../vendor/fonts/Inter-Regular.woff) format('woff'); /* Modern Browsers */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src:
    url(../../vendor/fonts/Inter-Black.woff2) format('woff2'), /* Super Modern Browsers */
    url(../../vendor/fonts/Inter-Black.woff) format('woff'); /* Modern Browsers */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'),
    url(../../vendor/fonts/Inter-Medium.woff2) format('woff2'),
    url(../../vendor/fonts/Inter-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}